#text{
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    color:black;
   }
   .image{
        margin-left: auto;
        margin-right: auto;
        display: block;
   }
   .para{
    text-align: justify;
    margin: 20px;
   }
   .name{
    width: 500px;
    text-align: right;
    margin-left: auto;
   }
   .btn{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-color: rgb(248, 29, 29);
    border-radius: 5px;
    border-radius: 50%;
    cursor: pointer;
   }
   #clr{
     background-color: aliceblue;
   }
   #clr1{
    background-color:black;
   }
   #clr2{
    background-color: chartreuse;
   }
   #clr3{
    background-color: deeppink;
   }
   #clr4{
    background-color: mediumblue;
   }